# EditorConfig는 다양한 에디터에서 일관된 코딩 스타일을 유지하도록 도와줍니다
# https://editorconfig.org

root = true

[*]
# 모든 파일에 대해 UTF-8 인코딩 강제
charset = utf-8
# 줄 끝 문자를 LF로 통일 (Unix 스타일)
end_of_line = lf
# 파일 끝에 빈 줄 삽입
insert_final_newline = true
# 들여쓰기 스타일: 공백 사용
indent_style = space
# 들여쓰기 크기: 2칸
indent_size = 2
# 줄 끝 공백 제거
trim_trailing_whitespace = true

[*.md]
# 마크다운 파일은 줄 끝 공백 유지 (의미가 있을 수 있음)
trim_trailing_whitespace = false

